* {
    background-color: wheat;

}

h1 {
    color:black;
    text-align: center;
    background-color: wheat;
    font-weight: bold;
    text-decoration: underline;
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

ul {
    text-align: center;
    color: brown;
}